# Download name.basics.tsv and Read

In [1]:
import pandas as pd
actors = pd.read_csv('/Users/apillai2/Downloads/name.basics.tsv', sep='\t', header=0)

In [2]:
print("Actor Count before Filter:",len(actors))
actors = actors[(actors.birthYear > '1960') & (actors.primaryProfession.str.contains('act'))]
actors['titleCount'] = actors['knownForTitles'].str.count(',')+1
print("Actor Count after Filter:",len(actors))
actors = actors[(actors.titleCount > 3)]

Actor Count before Filter: 11359935
Actor Count after Filter: 3995843

In [3]:
#actors = actors[0:100]
#print(len(actors))

In [4]:
import pandas as pd
titles = pd.read_csv('/Users/apillai2/Downloads/title.akas.tsv', sep='\t', header=0)
titles.head()

/Users/apillai2/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [5]:
df_titles = pd.DataFrame((titles[titles.region == 'US']['titleId'].unique()))
del titles

In [6]:
actors.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleCount
83,nm0000084,Gong Li,1965,\N,actress,"tt0101640,tt0430357,tt0397535,tt0473444",4
92,nm0000093,Brad Pitt,1963,\N,"actor,producer,soundtrack","tt0114746,tt1210166,tt0356910,tt2935510",4
95,nm0000096,Gillian Anderson,1968,\N,"actress,producer,soundtrack","tt0106179,tt2294189,tt0455590,tt0442632",4
96,nm0000097,Pamela Anderson,1967,\N,"actress,producer,director","tt0115624,tt0267913,tt0306047,tt0426592",4
97,nm0000098,Jennifer Aniston,1969,\N,"actress,producer,soundtrack","tt1723121,tt0279113,tt0108778,tt3442006",4

In [ ]:
p = 0
q = 0
df_titles_list=list(df_titles[0])
us_title_count = []
for i in actors['knownForTitles'].str.split(","):
    if p == 10000:
        print(q)
        p = 0
    p = p+1
    q = q+1
    cnt = 0
    #for j in i[0]:
    if 1==1:
        j = i[0]
        if (j in df_titles_list):
            cnt = cnt+1
    us_title_count.append(cnt)
#########
actors['us_title_count'] = us_title_count
actors.head()

# Write File

In [ ]:
actors = actors.reset_index(drop=True)
actors.to_csv('actorsOrig.csv',header=True,index=False)